@model DbbProject.Models.Order;
@{ViewData["Title"] = "Basket";}

<h2>Basket</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                Game Name
            </th>
            <th>
                Game Description
            </th>
            <th>
                Price
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.OrderItems != null && Model.OrderItems.Count > 0)
        {
            @foreach (var item in Model.OrderItems)
            {

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Game.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Game.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Game.Price)
                    </td>
                    <td>
                        <a asp-action="Basket" asp-route-function="remove" asp-route-gameId="@item.GameId">Remove Item</a>
                    </td>
                </tr>
            }

        }
        else
        {
            <tr>
                <td>
                    No Items In Basket
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
            </tr>
        }

    </tbody>
</table>

@if (Model.OrderItems != null && Model.OrderItems.Count > 0)
{
    int order = Model.OrderId;
    string orderTotal = Model.OrderTotal.ToString("C");
    <div> <p><strong>TOTAL PRICE : @orderTotal</strong></p>   </div>
    <div><a class="btn-link" asp-action="confirmation" asp-route-orderId="@order">Confirm Order and Pay</a></div>
}

