@model IEnumerable<DbbProject.Models.Game>

@{
    ViewData["Title"] = "Index";
}

<h2>My Games</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink(Html.DisplayNameFor(model => model.Name), "OwnGames", new { sortOrder = ViewBag.NameSortParm })
            </th>
            <th>
                @Html.ActionLink(Html.DisplayNameFor(model => model.Description), "OwnGames", new { sortOrder = ViewBag.DescriptionSortParm })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GameImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sold)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @if (item.GameImage != null)
                    {
                        var imageBase64 = Convert.ToBase64String(item.GameImage);
                        var imageSrc = String.Format("data:image/gif;base64,{0}", imageBase64);

                        <img src="@imageSrc" class="img-thumbnail img-rounded" style="max-width: 65%; height: auto;" />
                    }
                    else
                    {
                        <p>No Available Image</p>
                    }
                </td>
                <td>
                    @if (item.Sold)
                    {
                        <p><strong>SOLD</strong></p>
                    }
                    else
                    {
                        <p>For Sale</p>
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.GameId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.GameId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.GameId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>